@import url(reset.css);
html {
	scroll-behavior: smooth;
}
a {
    text-decoration: none;
	color:#fff;
}
a:hover{
	text-decoration:none;
}
p{
    line-height:1.5;
    font-size: 25px;
}

	.strelica {
		position: fixed;
		bottom: 5%;
		right: 5%;
		font-size: 50px;
		background: rgb(41, 226, 240, 0.5);
		padding: 5px;
		color: #fff;
		display: none;
		z-index: 1;
}
:hover{
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}
.text{
	position: relative;
	background-image: url(../images/dark.jpg);
	background-size: cover;
	background-position: center;
	min-height: 110vh;
	overflow: hidden;
	
}
h1{
	font-family: 'Special Elite', cursive;
	font-size: 70px;
	position: absolute;
	bottom: 50%;
	left: 30%;
	color:#fff;
	line-height: 1.5;
	text-align: center;
	color:#fff;
	padding-top:10em;
	
}
h2{
	font-size:50px;
	margin:0 30px;
	font-family: 'Inconsolata', monospace;
}
body{
	font-family: 'Courgette', cursive;
}
body img{
    width: 100%;
    z-index: -1;
}
/***********************************end generalni opisi***************************************/
/***********************************start header***************************************/

.navbar{
	position: absolute;
	top:5%;
	right: 5%;
}
.navbar-nav .nav-item .nav-link{
	color:white;
    font-size:30px;  
}
.navbar-nav .nav-item .nav-link:hover{
	color: orange;
}
.navbar ul{
	font-family: 'Special Elite', cursive;
}
/***********************************end header***************************************/

/***********************************start typing text***************************************/

@keyframes animated-text{
  from{width: 0;}
  to{width: 25ch;}
}

#background-wrap {
    bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 0;
}
/***********************************end typing text***************************************/

#about p, #ecology p{
    text-align: center;
	margin-bottom: 2%;
	
	background-color: rgb(240, 228, 236, 0.7);
	padding: 8%;
	border-radius: 30px 5px 20px 10px /
20px 15px 10px;
}
.teaching img{
	margin-bottom: 10px;
	box-shadow: 0 0 10px 10px #bbb;
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */    
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray; /* IE 6-9 */
}
.teaching img:hover{
	-webkit-filter: none;
   -moz-filter: none;
   -ms-filter: none;
   filter: none;
}
#projects{
	background-image: url(../images/visual2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

}
#projects h2{
	padding: 3%;
	color:#fff;
}
@keyframes zoom {
	0% {
		background-size: 100%;
	}
	100% {
		background-size: 120%;
	}
}
.current{
	border:1px solid #fff;
	padding-bottom: 15px;
	box-shadow: 0 0 10px 5px #bbb;
	position: relative;
	animation: zoom 4s linear alternate infinite;
	-webkit-animation: zoom 4s linear alternate infinite;
}

#projects img{
	border:1px solid #fff;
}
.baner a img:hover{
	transform: translateY(-15px);
	-webkit-transform: translateY(-15px);
	-moz-transform: translateY(-15px);
	-ms-transform: translateY(-15px);
	-o-transform: translateY(-15px);
}


.mountain,.biology{
	position: relative;
}
.see{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	font-size: 30px;
	padding: 5%;
	background: rgba(41, 226, 240, 0.8);
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.mountain:hover a, .biology:hover a, .herpetology:hover a, .petshop:hover a, .hemopral:hover a, .dbsite:hover a{
	color: orange;

}

.baner:hover .iconn, .mountain:hover .icon, .biology:hover .icon, .herpetology:hover .icon, .petshop:hover .icon, .hemopral:hover .icon, .dbsite:hover .icon{
	transform: scale(1.3);
	transition: 1s;
}
#contact{
	background-image: url(../images/futer.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.icon span::before{
	color:#fff;
	font-size:40px;
	border-radius:50%;
	padding:15px;	
	display:inline-block;
	margin-top:10px;

}
.icon1 span::before{
	color:#fff;
	font-size:80px;
	border-radius:50%;
	padding:15px;	

}
.iconn span::before{
	color:#fff;
	font-size:40px;
	border-radius:50%;
	padding:25px;
	display:inline-block;
	margin-top:10px;
}
.tools span::before, .tools2 span::before, .tools3 span::before, .tools4 span::before{
	font-size: 130px;
}
.tools, .tools2, .tools3, .tools4{
	margin-top: 10%;
}

.baners{
	font-family: 'Inconsolata', monospace;
	
}
.baners p{
	font-size: 20px;
	margin-top: 10px;
}
.baners img{
	box-shadow: 6px 6px 5px 2px rgb(180, 175, 175);
}
.ban{
	background: #dbcda7;
	
}
.ban span::before{
	color:#0c5fb3;
}



/***********************************start footer***************************************/
#contact .jaa{
	margin-top: 5px;;
}
#contact p{
	color:#fff;
	margin-top: 5%;
}
#contact{
	font-family: 'Inconsolata', monospace;
}
#contact p a:hover{
	color:orange;
}
.social span {
    font-size:15px;
    text-align:center;
    width:40px;
    height:40px;
    display:inline-block;
	color: #fff;
	margin-top: 15px;
    margin-right: 10px;
    padding: 12px;
    border: 2px solid #fff;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}
.social span:hover{
	background: orange;
	border: none;
}

.mai a{
	font-size: 19px;
}
.envelop{
	padding-top: 5%;
}
.mai a:hover{
	color: orange;
}
/***********************************end footer***************************************/
/******************************************start ecology*************************************************/
#ecology{
	background-image: url(../images/forest.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;	
}
.biodiverzitet{
	position: relative;
	box-shadow: 0 0 10px  rgb(61, 166, 61);
	padding: 2%;;
}
.biodiverzitet p{
	position: absolute;
	bottom: 5%;
	visibility: hidden;
	opacity: 0;
	box-shadow: 0 0 10px  rgb(61, 166, 61);
}
.biodiverzitet:hover p{
	visibility: visible;
	opacity: 1;
	transition: 1s;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
}

/************************************************end ecology***********************************************/





@media(max-width:1440px){
	h1{
		font-size: 38px;
		left: 25%;
		
	}
}
@media(max-width:768px){
	.navbar{
		position: relative;
		background: rgba(0, 0, 0, 0.2);
		left:0;
		top:0;
		
	}
	.text{
		min-height: 35vh;
	}
	h2{
		font-size: 25px;
	}

  body{
	  margin-right: 0;
  }
  #projects p{
	font-size: 30px;
  }
  h1{
	font-size: 33px;
}
}
@media(max-width:425px){
	h1{
		font-size: 23px;
		left: 14%;
		
   }
   .see{
	   top:30%;
   }
   
}
